/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}





















/* ჩემი კოდი */
header{
  position: fixed;
  float: right;
  height: 100vh;
  width: 100%;
}
.main_menu{
  position: relative;
  float: right;
  width: 15%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu_container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.manu_nav{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.manu_nav ul{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.manu_nav ul button{
  width: 50%;
  height: 10%;
  /* display: flex; */
  justify-content: center;
  margin: 5px 0;
  transition: .5s;
  background: transparent;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}


.manu_nav ul button li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-right: none;
  border-color: #07cdda;

}

.manu_nav ul button li h1{
  display: none;
}

.manu_nav ul button li i{
  width: 50%;
  height: 100%;
  text-decoration: none;
  font-size: 30px;
  color: #07cdda;
  border-color: #07cdda;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manu_nav ul button:hover{
  transition: .5s ease-in-out;
  width: 80%;
  background: #07cdda;
}
.manu_nav ul button:hover li h1{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0px 10px 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 1s ease-in-out; */
}

.manu_nav ul button:hover li i{
  color: white;
}

/* მენიუ დასასრული */
















/* პირველი სექცია */

.main_section{
  width: 100%;
  height: 100vh;
  transition: 1s;
}
.main_section_container{
  width: 100%;
  height: 100%;
}
.container_info{
  width: 85%;
  height: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_info h2{
  position: relative;
  top: 10%;
  font-size: 32px;
  color: black;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 5px 0;
}
.container_info h2 span{
  color: #07cdda;
}

.container_analyse {
  position: relative;
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Investment{
  width: 30%;
  height: 65%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #07cdda;
  margin: 0 20px;
  transition: 0.5s;
}
.Portfolio{
  width: 30%;
  height: 65%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #07cdda;
  margin: 0 20px;
  transition: 0.5s;
}
.Investment button{
	position: relative;
  	width: 100%;
  	height: 80%;
	text-decoration: none;
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
}


.Portfolio button{
	position: relative;
  	width: 100%;
  	height: 80%;
	text-decoration: none;
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
}


.Investment button i{
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: #07cdda;
}

.Investment h4{
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #07cdda;
}

.Investment:hover{
  box-shadow: 5px 5px 20px #07cdda;
  transform: scale(1.03);
  cursor: pointer;
  background: #07cdda;
  transition: 0.5s ease-in-out;
}
.Investment:hover h4{
  color: white;
}
.Investment:hover i{
  color: white;
}


.Portfolio i{
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: #07cdda;
}

.Portfolio h4{
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #07cdda;
}

.Portfolio:hover{
  box-shadow: 5px 5px 20px #07cdda;
  transform: scale(1.03);
  cursor: pointer;
  background: #07cdda;
  transition: 0.5s ease-in-out;
}
.Portfolio:hover h4{
  color: white;
}
.Portfolio:hover i{
  color: white;
}

/* პირველი სექციის დასასრული */




























/* კონტაქტის სექციია დასაქყისი */
#contact{
	display: none;
}
.contact_section{
	width: 80%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact_container{
	width: 100%;
	height: 100vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact_container h2{
	width: 100%;
	color: #07cdda;
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}
.contact_container h4{
	width: 100%;
	color: #07cdda;
	font-size: 18px;
	text-align: center;
	margin: 10px;
	padding: 10px 0;
}

.contact_container .contact_row{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact_container .contact_row .contact_col{
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 30px 0 10px;
	transition: 0.5s;
}

.contact_container .contact_row .input_box{
	position: relative;
	width: 100%;
	height: 40px;
	color: #07cdda;
}

.contact_container .contact_row .input_box input,
.contact_container .contact_row .input_box.textarea textarea{
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 0 10px;
	z-index: 1;
	color: white;
}

.contact_container .contact_row .input_box .text{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 18px;
	padding: 0 10px;
	display: block;
	transition: 0.5s;
	pointer-events: none;
}

.contact_container .contact_row .input_box input:focus + .text,
.contact_container .contact_row .input_box input:valid + .text{
	top: -35px;
	left: -10px;

}


.contact_container .contact_row .input_box .line{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #07cdda;
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;
}

.contact_container .contact_row .input_box input:focus ~ .line,
.contact_container .contact_row .input_box input:valid ~ .line{
	height: 100%;
}


.contact_container .contact_row .input_box.textarea{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px 0;

}

.contact_container .contact_row .input_box.textarea textarea{
	height: 100%;
	resize: none;
}

.contact_container .contact_row .input_box textarea:focus + .text,
.contact_container .contact_row .input_box textarea:valid + .text{
	top: -35px;
	left: -10px;
}


.contact_container .contact_row .input_box textarea:focus ~ .line,
.contact_container .contact_row .input_box textarea:valid ~ .line{
	height: 100%;
}

.contact_col{
	display: flex;
	justify-content: center;
	align-items: center;
}


input[type="submit"]{
	padding: 7px 35px;
	cursor: pointer;
	outline: none;
	background: #07cdda;
	color: #000;
	font-size: 18px;
	border-radius: 2px;
	border-radius: 50px;
	color: white;
	border: 1px solid #07cdda;
}

input[type="submit"]:hover{
	transition: 0.5s;
	border-radius: 5px;
	color: #07cdda;
	background: white;
	border: 1px solid #07cdda;
}



















/* ჩვენ შესახებ სექცია */
#about{
	display: none;
}
.about_us{
	width: 85%;
	height: 100vh;
}
.about_container{
	position: relative;
	width: 100%;
	height: 100vh;
  	padding: 30px 0;
}

.about_text{
	width: 100%;
	height: 20%;
}

.about_container h2{
	width: 100%;
	color: #07cdda;
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;
}
.about_container h4{
	width: 100%;
	color: #07cdda;
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
	padding: 0px 0;
	word-spacing: 1px;
}

.about_container h6{
	width: 100%;
	color: #07cdda;
	font-size: 18px;
	text-align: center;
	margin: 0px;
	padding: 0px 0;
}

.about_box{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.box1{
	display: flex;
	justify-content: center;
}

 .box{
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.imgbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 2;
	background: #000;

}
.box:hover .imgbox{
	transform: translateY(-50px);
}

.imgbox img{
	transition: 0.5s;
	/* position: relative; */
	width: 100%;
	height: 100%;
}

.box:hover .imgbox img{
	opacity: 0.5;
}

.social-icon{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	display: flex;
	margin: 0;
	padding: 0;

}

.social-icon li{
	list-style: none;
}

.social-icon li a{
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #fff;
	color: #07cdda;
	margin: 0 5px;
	border-radius: 50%;
	transition: .5s;
	transform: translateY(200px);
	opacity: 0;
}

.box:hover .social-icon li a{
	transform: translateY(0px);
	opacity: 1;
}

.box .social-icon li a .fa{
	transition: 0.5s;
	font-size: 18px;
	line-height: 40px;
}

.box .social-icon li a:hover .fa{
	transform: rotateY(360deg);
}


.box:hover .social-icon li:nth-child(1) a{
	transition-delay: 0s;
}

.box:hover .social-icon li:nth-child(2) a{
	transition-delay: 0.2s;
}

.box:hover .social-icon li:nth-child(3) a{
	transition-delay: 0.4s;
}


.details{
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 4;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding: 10px;
	z-index: 1;
}

.details h2{
	text-align: center;
	font-size: 16px;
}

.details h2 span{
	color: #07cdda;
	font-size: 16px;
}


/* ჩვენ შესახებ სექციის დასასრული */




























/* შეფასების გვერდი */
#Investment_valuation{
	display: none;
	width: 80%;
	height: 100vh;
}

.choose_method{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 50px;
}

.choose_method h2{
	font-family: sans-serif;
	font-size: 24px;
	text-transform: capitalize;
	color: #07cdda;
}


.methods form{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"]  + label {
	display: block;
	cursor: pointer;
	z-index: 10;
}

input[type="checkbox"] + label:before{
	content: "\f00c";
	font-family: "FontAwesome";
	width: 15px;
	height: 15px;
	margin-left: 30px;
	margin-right: 10px;
	border: 1px solid #07cdda;
	color: transparent;
	transition: .5s;
}

input[type="checkbox"]:checked + label:before{
	color: #07cdda;
	height: 20px;
	background: transparent;
	border: 1px solid transparent;
	transition: .5s;
}


label{
	color: #07cdda;
}

input[type="submit"]:hover{
	transition: 0.5s;
	border-radius: 5px;
	color: #07cdda;
	background: white;
	border: 1px solid #07cdda;
	cursor: pointer;
}






/* შეფასების გვერდის დასასრული */



























/* მედია ქუაერები */

@media screen and (max-width: 1024px){
	.box{
		margin: 0px 10px;
		height: 300px;
	}
}



@media screen and (max-width: 768px) {
	.manu_nav ul button:hover li h1{
		display: none;
	}
	.Investment{
		width: 40%;
	}
	.Portfolio{
		width: 40%;
	}
	.box{
		width: 150px;
		height: 200px;
		margin: 0px 10px;
	}
	.about_us{
		display: none;
	}
	.manu_nav ul button:nth-child(3){
		display: none;
	}
}

@media screen and (max-width: 425px){
	.main_menu{
		width: 20%;
	}
	.manu_nav ul button li i{
		font-size: 18px;
	}
	.manu_nav ul button{
		height: 6%;
	}
	.manu_nav ul button:hover li h1{
		display: none;
	}
	.container_info{
		display: none;
	}
	.container_analyse{
		width: 80%;
		height: 100%;
		flex-direction: column;
	}
	.Investment{
		width: 80%;
		height: 40%;
		margin: 20px 0;
	}
	.Portfolio{
		width: 80%;
		height: 40%;
	}
	.contact_section{
		width: 80%;
	}
	.contact_container .contact_row .input_box .line{
		width: 80%;
	}
	.about_box{
		flex-direction: column;
		height: auto;
		
	}
	.box{
		height: 350px;
		margin: 20px 0;
	}
	.about_us{
		display: none;
	}
	.manu_nav ul button:nth-child(3){
		display: none;
	}
}




