<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/css/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>Python_project</title>
  </head>


  <body>
      <!-- ჰედერი -->
    <header>
        <div class="main_menu">
          <div class="menu_container">
            <nav class="manu_nav">
              <ul>
                <a href="/home"><button id="h_button"><li><i class="fa fa-home" aria-hidden="true"></i><h1>მთავარი</h1></li></button></a>
                <a href="/"><button id="c_button"><li><i class="fa fa-sign-in" aria-hidden="true"></i><h1>გასვლა</h1></li></button></a>
              </ul>
            </nav>
          </div>
        </div>
        <!-- ჰედერის დასასრული -->
      </header>
      

      {% block body %}
      {% endblock %}













  </body>

</html>